body {
  margin: 0;
  font-family: 'Open Sans Regular',sans-serif;
}

li {
  list-style: none;
  word-wrap: break-word;
  display: flex;
}

a {
  text-decoration: none;
  color: inherit;
}

.sections .logo {
  margin-right: 5px;
}

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  padding-top: 2rem;
  background-color: rgb(72, 72, 198);
  color: white;
}

footer .headings {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 1.2rem;
}

footer .headings .top {
  margin-bottom: 0.6rem;
  color: #ccc;
  text-decoration: underline;
}

footer .headings li {
  margin: 0 0 10px;
  font-size: 0.85rem;
}

footer .headings .sections {
  width: 15%;
}

footer .below {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: #ccc;
  font-size: 1rem;
  text-decoration: underline;
}

footer .borderbelow {
  border-top: 1px solid #FFFFFF;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

footer .below li {
  width: 10%;
}

footer .end {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 1rem;
  background-color: rgb(56, 55, 55);
  display: flex;
  font-size: 0.7rem;
  justify-content: space-evenly;
}

footer .end li {
  width: 20%;
}